<nav>
    <a href="#" class="logo"> Logo</a>
  <br/>
  <div class="menu">
    
    <a href="#">Home</a>
    <a href="#">About</a>
    {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}"
        {% if dashboard in request.path %}
        style="text-decoration: underline solid white;";
        {% else %}
            style="color:white";
        {%endif%}>Welcome {{user.username}}(Dashboard)</a>

        <a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
        <form action="{% url 'logout'%}" id ="logout" method="POST">
            {% csrf_token %}
            <input type="hidden">

        </form>
    {% else %}
    <a href="{% url 'register'%}"
    {% if '/' == request.path %}
        style="text-decoration: underline solid white;";
    {% else %}
        style="color:white;"
    {%endif%}>Register</a>
    <a href="{% url 'login' %}"
    {% if 'login' in request.path %}
        style="text-decoration: underline solid white;";
    {% else %}
        style="color:white;"
    {%endif%}>Login</a>
    {% endif %}

  </div>
</nav>
